linted__list.haml:20 [W] SpaceBeforeScript: The `=` symbol should have one space separating it from code
linted__list.haml:54 [W] SpaceBeforeScript: The `=` symbol should have one space separating it from code
linted__list.haml:57 [W] SpaceBeforeScript: The `=` symbol should have one space separating it from code
linted__list.haml:59 [W] SpaceBeforeScript: The `=` symbol should have one space separating it from code
linted__list.haml:61 [W] SpaceBeforeScript: The `=` symbol should have one space separating it from code
linted__list.haml:64 [W] SpaceBeforeScript: The `=` symbol should have one space separating it from code
linted__list.haml:75 [W] FinalNewline: The output should end with a newline 