show.haml:10 [W] ImplicitDiv: `%div.monologue-actscene` can be written as `.monologue-actscene` since `%div` is implicit
show.haml:13 [W] ImplicitDiv: `%div.monologue-detail` can be written as `.monologue-detail` since `%div` is implicit
show.haml:15 [W] ImplicitDiv: `%div.monologue-playname` can be written as `.monologue-playname` since `%div` is implicit
show.haml:25 [W] ImplicitDiv: `%div.monologue-body` can be written as `.monologue-body` since `%div` is implicit

