.DS_Store
log/**/*
tmp/**/*
vendor/gems/*
!vendor/gems/cache/
.sass-cache/*
db/*.db
.*.sw*
.idea
bin
.bundle
db/development.sqlite*
db/test.sqlite*
log/*
nbproject/**/*
nbproject/*
config/database.rb
*[~]
*.2010*
*.2011*
*.2012*
*.2013*
*.2014*
*.2015*
*.2016*
\#*#
\#.*#
screenshot-*.png
results.htm
rerun.txt
tmp/*
public/plays.html
public/plays/*
public/monologues.html
public/monologues/*
.env
