.vscode
.DS_Store
log/**/*
tmp/**/*
vendor/gems/*
!vendor/gems/cache/
.sass-cache/*
db/*.db
.*.sw*
.haml-lint.yml
.idea
*.bak
bin
.bundle
db/development.sqlite*
db/test.sqlite*
*.dist.renamed
log/*
nbproject/**/*
nbproject/*
config/database.rb
*[~]
*.2010*
*.2011*
*.2012*
*.2013*
*.2014*
*.2015*
*.2016*
*.2017*
*.2018*
*.2019*
\#*#
\#.*#
screenshot-*.png
results.htm
rerun.txt
rubocop.yml
tmp/*
public/plays.html
public/plays/*
public/monologues.html
public/monologues/*
.env
