.center-column-header

	=render 'shared/search_box_controls', layout: false

.center-column-list

	.jquery-search-replace
		/ Contents of this div replaced by key up triggered jquery ajax call

		%table.categories-list
			%tr
				%th Comedies
				%th.th-pad-right Histories
				%th Tragedies
			%tr
				%td
					- @comedies.sort{|a,b| a.title <=> b.title }.each do |comedy|
						=link_to comedy.title, url_for(:plays, :show, id: comedy.id)
						%br/
				%td
					- @histories.sort{|a,b| a.title <=> b.title }.each do |history|
						=link_to history.title, url_for(:plays, :show, id: history.id)
						%br/
				%td
					- @tragedies.sort{|a,b| a.title <=> b.title }.each do |tragedy|
						=link_to tragedy.title, url_for(:plays, :show, id: tragedy.id)
						%br/

		- play_title = @play.title if @play
		:javascript
			globalPlayTitle = '#{play_title}';
			globalViewGender = '#{session[:gender]}';
			updateGenderLinks();
			registerGenderClick();
			registerToggleClick();
