.center-column-header
	%h3= @title

.center-column-list

	%table.categories-list
		%tr
			%th Comedies
			%th Histories
			%th Tragedies
		%tr
			%td
				- @comedies.sort{|a,b| a.title <=> b.title }.each do |comedy|
					=comedy.title
					%br/
			%td
				- @histories.sort{|a,b| a.title <=> b.title }.each do |history|
					= history.title
					%br/
			%td
				- @tragedies.sort{|a,b| a.title <=> b.title }.each do |tragedy|
					= tragedy.title
					%br/
