/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}

/*
 * Base structure
 */

html,
body {
    color: #FFF;
    height: 100%;
    background-color: #333;
}

body {
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

.main {
}

.main .splash {
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    background-image: url("../images/foliocover.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.left-column {
}

.right-column {
}

/* Padding for spacing */
.center-column {
}

.center-column-list {
    display: table-cell;
    vertical-align: top;
}

/*
 * Header
 */
.cover-top {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cover-top > li {
    display: inline-block;
}

.cover-top > li + li {
    margin-left: 20px;
}

.cover-top > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255, 255, 255, .75);
    border-bottom: 2px solid transparent;
}

.cover-top > li > a:hover,
.cover-top > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255, 255, 255, .25);
}

.cover-top > .active > a,
.cover-top > .active > a:hover,
.cover-top > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .cover-top {
        float: left;
    }
}

/*
 * Cover
 */

.cover-top {
    padding: 0 20px;
    margin-top: 140px;
    /* did not solve cover div overlap:
      overflow: hidden;
    */
}

.cover-main .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

/*
 * Search
 */

.input-group {
    width: auto;
}

/*
 * Footer
 */

.footer {
    font-size: 10px;
    color: #fff; /* IE8 proofing */
    color: rgba(255, 255, 255, .9);
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .cover-top {
        position: fixed;
        top: 0;
    }

    .footer {
        position: fixed;
        bottom: 0;
    }

    /* Start the vertical centering */
    .main {
        vertical-align: middle;
    }

    /* Handle the widths */
    .cover-top,
    .cover-main,
    .footer {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .cover-top,
    .cover-main,
    .footer {
        width: 700px;
    }
}