

body {
    background-color: #F9F9DF;
    background-image: url("/images/parchment-mobile.jpg");
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size:   13px;
    line-height: 13px;
    padding: 5px;
}

a {
    text-decoration: none;
    color: #111;
}

a:hover {
    color: #5E2612;
    text-decoration: underline;
}

a:visited { color: #666; }

.back-link {
    float: left;
    padding: 10px;
}

input#search-box {
    font-size: 150%;
    width: 140%;
}

div.result-summary {
    float: right;
    color: #999;
    text-align: right;
    margin-right: 0px;
    padding-bottom: 0.5em;
    padding-right: 5px;
}

.empty-table-message {
    font-size: 125%;
    font-style: italic;
    text-align: left;
    padding-top: 60px;
    padding-left: 20px;
    vertical-align: top;
}

table.monologue-list {
    width: 100%;
}

table.monologue-list th {
    text-align: left;
    border-bottom: solid 1px;
    color: #333;
    font-weight: normal;
}


table.monologue-list tr {
}

table.monologue-list td {
    padding: 6px;
}

tr.odd {
    background-color: #F9F9D1;
}

tr.even {
    background-color: #F9F9DF;
}

td.monologue-firstline-table {
    font-size: 150%;
    line-height: 125%;
}

.monologue-detail {
    color: #666;
    margin-left: 10px;
}



h1.monologue-firstline-heading {
    font-size: 250%;
    line-height: 125%;
}

h1.monologue-firstline-heading::first-letter {
    font-size: 150%;
}

/* Parent class for monologue details */
.monologue-mobile-detail {
    color: #666;
    padding: 10px;
    border: solid 1px;
    margin-left: 10px;
}

.monologue-playname {
    text-decoration: underline;
}

.monologue-character {
    font-weight: bold;
}

.monologue-actscene {
    white-space: nowrap;
}

.monologue-intercut {
    font-size: 80%;
}

.monologue-body {
    padding-top: 20px;
    font-size: 125%;
    line-height: 135%;
}



/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}