.center-column-footer.accent-font

	.link-menu-bottom
		%a{href:'/men'} The Men 
		%a{href:'/women'} The Women
		%a{href:'/plays'} Search All
		%a{href:'http://shakespeare-monologues.org/store/index.html'} Books
		%a{href:'/links'} Links
		%a{href:'/quiz.html'} Quiz
		%a{href:'http://twitter.com/ShakesMonos', target: '_blank'} Twitter
		%a{href:'https://www.facebook.com/ShakespearesMonologues', target: '_blank'} FB
		%a{href:'https://plus.google.com/106045313819632308693', rel: 'publisher', target: '_blank'} G+
		%a{href:'/home'} Home
		%a{href:'/faqs'} FAQ &nbsp;
		%a{href:'/aboutus'} About
		%a{href:'http://shults.org/shakes/contact.php'} Contact

		/ - if Padrino.env == :production
		/ begin chrome and app store buttons
		%br/
		%br/
		%a{href: 'https://play.google.com/store/apps/details?id=com.ShakespearesMonologues.app', target: '_blank'}
			%img{alt: 'Android app on Google Play', border: '0', src: '/images/en_app_rgb_wo_45.png'}/
		%a{href: "http://www.amazon.com/gp/product/B00LP47IA0/ref=mas_pm_Shakespeare's%20Monologues", target: '_blank'}
			%img{alt: 'Android app on Amazon App Store', border: '0', src: '/images/AmazonAppStoreBadge.png'}/
		%a{href: 'https://chrome.google.com/webstore/detail/ejfdmafokffchogjkmfjdhalghlfemno', target: '_blank'}
			%img{alt: 'Available in the Chrome Web Store', border: '0', src: '/images/ChromeWebStore_BadgeWBorder_v2_160x45.png', valign: 'top'}/
		/ end chrome and play store buttons
		%br/
		%br/
		/ begin google adsense footer ad
		.googleadsensefooter
		%script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
		%ins.adsbygoogle{"data-ad-client" => "ca-pub-5236095389905910", "data-ad-format" => "horizontal", "data-ad-slot" => "9674616910", :style => "display:block"}
		:javascript
			(adsbygoogle = window.adsbygoogle || []).push({});
		/end google adsense footer ad
		%br/
		%br/

		/ begin social media buttons

		/ begin facebook button
		#fb-root
		.fb-like{"data-action" => "like", "data-href" => "http://www.shakespeare-monologues.org/", "data-layout" => "button_count", "data-share" => "false", "data-show-faces" => "true"}
		/ end facebook button

		/ begin twitter follow button
		%a.twitter-follow-button{'data-show-count': 'false', href: 'http://twitter.com/ShakesMonos'} Follow @ShakesMonos
		/ end twitter follow button

		/ begin G+ button
		/ Place this tag where you want the widget to render.
		.g-follow{"data-annotation" => "bubble", "data-height" => "15", "data-href" => "//plus.google.com/106045313819632308693", "data-rel" => "publisher"}
		/ end G+ button

		/ end social media buttons
		%br/
		%br/
		/ SiteSearch Google
		%form#cse-search-box{action: 'http://www.google.com/cse', target: '_blank'}
			%div
				%input{name: 'cx', type: 'hidden', value: 'partner-pub-52360953899059100905950967'}/
				%input{name: 'ie', type: 'hidden', value: 'UTF-8'}/
				%input{name: 'q', size: '30', style: 'background: url(https://www.google.com/cse/static/en/google_custom_search_watermark.gif) 0% 50% no-repeat rgb(255, 255, 255);', type: 'text'}/
				%input{name: 'sa', type: 'submit', value: 'Search'}/
			%input{name: 'siteurl', type: 'hidden', value: 'www.shakespeare-monologues.org/plays/17?g=3'}/
			%input{name: 'ref', type: 'hidden', value: 't.co/NpLAI1Zofr'}/
			%input{name: 'ss', type: 'hidden', value: ''}/
		%script{src: 'http://www.google.com/coop/cse/brand?form=cse-search-box&lang=en', type: 'text/javascript'}
		/ End SiteSearch Google
		/ start copyright info
	.center-column-copyright
		&copy; 1997<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script> Steven Shults & Brandon Faloona
		%br/
		/ Creative Commons Info
		This site is licensed under a
		=succeed '.' do
			%a{href: 'http://creativecommons.org/licenses/by-nc-sa/3.0/', target: '_blank', rel: 'license'}Creative Commons License
		%br/
		%a{href: 'http://creativecommons.org/licenses/by-nc-sa/3.0/', target: '_blank'}
			%img{alt: 'Creative Commons License', border: '0', src: 'http://www.shakespeare-monologues.org/images/somerights20.gif'}/
		%br/
		The texts of Shakespeare's plays is public domain.
		%br/
		Contact linked sites regarding intellectual property rights of those sites.
		%br/
		/ end copyright info
