.link-menu-left

	/ left column menu
	%a{href: '/men'} The Men
	%a{href: '/women'} The Women
	%a{href: '/plays'} Both
	%br/
	%br/
	%a{href: 'http://shakespeare-monologues.org/store/index.html'} Books
	%a{href: '/links'} Links
	%a{href: '/faq.html#Q0'} How To
	%a{href: '/home'} Home


/ left column ads
.left-column-ads
	%script{async: '', src: '//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js'}
	/ leftcol1
	%ins.adsbygoogle{'data-ad-client': 'ca-pub-5236095389905910', 'data-ad-slot': '3862062942', style: 'display:inline-block;width:120px;height:90px'}
	%script{type: 'text/javascript'}
		:plain
			(adsbygoogle = window.adsbygoogle || []).push({});
	%script{async: '', src: '//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js'}
	/ leftcol2
	%ins.adsbygoogle{'data-ad-client': 'ca-pub-5236095389905910', 'data-ad-slot': '8729942714', style: 'display:inline-block;width:120px;height:600px'}
	%script{type: 'text/javascript'}
		:plain
			(adsbygoogle = window.adsbygoogle || []).push({});