.link-menu-right
- if true # TODO: Revert override. was: if Padrino.env == :production
  / begin right column
  %div#right_column{:align => "center"}
    = render 'shared/tip_jar', layout: false

    / OSC ad run ended, commented out, hopefully they'll want another run next year. a href="http://shakespeareclass.org/Shakespeare_Class/Shakespeare_Class.html" target="_blank"><img src="http://www.shakespeare-monologues.org/images/OSC300x250AdFor2015.2.jpg" border="0" width="300" height="250" alt="Oxford Shakespeare Company" title="Oxford Shakespeare Company" /></a
    /
    / The "a2" div is for the adblock detection. Please don't change the div name without testing to confirm that it will work with a different div name
    #a2
      / begin rightcol google graphic ad
      #google_afmc
      %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
      %ins.adsbygoogle{"data-ad-client" => "ca-pub-5236095389905910", "data-ad-format" => "rectangle", "data-ad-slot" => "2039374327", :style => "display:block"}
  :javascript
    (adsbygoogle = window.adsbygoogle || []).push({});
  / end rightcol google graphic ad
  %br
  #google_afmc
  %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
  %ins.adsbygoogle{"data-ad-client" => "ca-pub-5236095389905910", "data-ad-format" => "autorelaxed", "data-ad-slot" => "7788015710", :style => "display:block"}
  :javascript
    (adsbygoogle = window.adsbygoogle || []).push({});
  / end right column
