%form#search-form.navbar-form{role: ""}
	.input-group.accent-font
		%input#search-box.form-control{placeholder: searchbox_placeholder_text, type: "text", autocomplete: "off", action: "#", tabindex: 1}
		%i.glyphicon.glyphicon-refresh.glyphicon-refresh-animate.searching
