<p>&nbsp;</p>
<br/>
<p>&nbsp;</p>
<p>&nbsp;</p>

<a id="everbutton-693-1398040059-85" class="everbutton everbutton-693-1398040059-85 everbutton-blue" href="https://www.everbutton.com/donate/693" style="height:20px;width:49px;min-width:45px;padding:0px;">Tip Jar</a>
<br/><br/>
<!-- AddThis Button BEGIN -->
<style>
div.addthis_toolbox {
width: 85px;
margin: 0 auto;
}
</style>
<div class="addthis_toolbox addthis_default_style addthis_16x16_style">
<a class="addthis_button_facebook"></a>
<a class="addthis_button_twitter"></a>
<a class="addthis_button_google_plusone_share"></a>
<a class="addthis_button_compact"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-532e2d3068288ec1"></script>
<!-- AddThis Button END -->

<div style="text-align:center">
<span class="small">
<br>
<font face="verdana" size="-1">
<a href="https://www.facebook.com/ShakespearesMonologues" target="_blank">FB</a>&nbsp;&nbsp;
<a href="https://plus.google.com/106045313819632308693" rel="publisher" target="_blank">G+</a>&nbsp;&nbsp;
<a HREF="http://twitter.com/ShakesMonos" target="_blank">Twitter</a>
<br>
<a href="https://play.google.com/store/apps/details?id=com.ShakespearesMonologues.app" target="_blank">Android App</a><br>
<a href="https://chrome.google.com/webstore/detail/ejfdmafokffchogjkmfjdhalghlfemno" target="_blank">Chrome App</a>
</font>
</span>
</div>
<hr size="1" width="75" noshade>
