- error = @play.errors.include?(:author_id)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :author_id, :class => 'control-label'
  .controls
    =f.text_field :author_id, :class => 'form-control input-large input-with-feedback', :autofocus => true
    %span.help-inline=error ? f.error_message_on(:author_id, :class => 'text-error') : pat(:example)
- error = @play.errors.include?(:title)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :title, :class => 'control-label'
  .controls
    =f.text_field :title, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:title, :class => 'text-error') : pat(:example)
- error = @play.errors.include?(:classification)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :classification, :class => 'control-label'
  .controls
    =f.text_field :classification, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:classification, :class => 'text-error') : pat(:example)

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:plays, :index), :class => 'btn btn-default'