.menu-wrapper
	.my-btn-group

	%button.my-btn.menu-up
		%a{href: '/m'}
			%i.icon.icon-3x.icon-search
	-#%button.my-btn.menu-gender
	-#	%a{href: '#'}
	-#		%i.icon.icon-3x.icon-genderless{href: '#'}
	-#		-#%i.icon.icon-3x.icon-venus{href: '#'}
	-#		-#%i.icon.icon-3x.icon-mars{href: '#'}
	%button.my-btn.menu-book
		%a{href: 'http://www.shakespeare-monologues.org/store/index.html'}
			%i.icon.icon-3x.icon-book
	%button.my-btn.menu-help
		%a{href: 'http://www.shakespeare-monologues.org/faqs'}
			%i.icon.icon-3x.icon-question
	%button.my-btn.menu-contact
		%a{href: 'http://shults.org/shakes/contact.php'}
			%i.icon.icon-3x.icon-envelope
	%button.my-btn.menu-tipjar
		%a{href: 'https://www.everbutton.com/donate/693'}
			%i.icon.icon-3x.icon-gittip
