.btn-group
	%button.btn.menu-up
		%a{href: '#'}
			%i.icon.icon-3x.icon-search{href: '#'}
	%button.btn.menu-gender
		%a{href: '#'}
			%i.icon.icon-3x.icon-genderless{href: '#'}
			-#%i.icon.icon-3x.icon-venus{href: '#'}
			-#%i.icon.icon-3x.icon-mars{href: '#'}
	%button.btn.menu-book
		%a{href: '#'}
			%i.icon.icon-3x.icon-book{href: '#'}
	%button.btn.menu-share
		%a{href: '#'}
			%i.icon.icon-3x.icon-share{href: '#'}
	%button.btn.menu-tipjar
		%a{href: '#'}
			%i.icon.icon-3x.icon-gittip{href: '#'}
	%button.btn.menu-help
		%a{href: '#'}
			%i.icon.icon-3x.icon-question{href: '#'}
.search-wrapper
	%form#search-form.navbar-form{role: ""}
		%input#search-box.form-control.input-lg{placeholder: "Search Shakespeare's Monologues", type: "text", autocomplete: "off", action: "#"}

