.container.row
	.col-xs-4.monologue-mobile-detail
		%span.monologue-character
			=@monologue.character
		%span
			=link_to(@monologue.play.title, url_for(:monologues, :mobileplay, id: @monologue.play.id))
			=surround( '(', ')') { @monologue.location }
		%span.monologue-intercut
			=@monologue.style + @monologue.intercut_label
	.col-xs-8
		/ blank
.container.row-fluid.monologue-body
	=erb(@monologue.body, layout: false)
