right-column.haml:12 [W] IdNames: `id` attribute must be in lisp-case
right-column.haml:21 [W] IdNames: `id` attribute must be in lisp-case
right-column.haml:7 [W] LineLength: Line is too long. [365/120]
right-column.haml:9 [W] LineLength: Line is too long. [152/120]
right-column.haml:15 [W] LineLength: Line is too long. [165/120]
right-column.haml:23 [W] LineLength: Line is too long. [151/120]
right-column.haml:12 [E] RepeatedId: Do not repeat id "#google_afmc" on the page
right-column.haml:21 [E] RepeatedId: Do not repeat id "#google_afmc" on the page
right-column.haml:2 [W] RuboCop: Lint/LiteralAsCondition: Literal `true` appeared as a condition.
