search_box_controls.haml:1 [W] ClassesBeforeIds: Classes should be listed before IDs (.navbar-form should precede #search-form)
search_box_controls.haml:3 [W] ClassesBeforeIds: Classes should be listed before IDs (.form-control should precede #search-box)
search_box_controls.haml:1 [W] RuboCop: Style/StringLiterals: Prefer single-quoted strings when you don't need string interpolation or special symbols.
search_box_controls.haml:3 [W] RuboCop: Style/StringLiterals: Prefer single-quoted strings when you don't need string interpolation or special symbols.
search_box_controls.haml:3 [W] RuboCop: Style/StringLiterals: Prefer single-quoted strings when you don't need string interpolation or special symbols.
search_box_controls.haml:3 [W] RuboCop: Style/StringLiterals: Prefer single-quoted strings when you don't need string interpolation or special symbols.
search_box_controls.haml:3 [W] RuboCop: Style/StringLiterals: Prefer single-quoted strings when you don't need string interpolation or special symbols.

1 file inspected, 7 lints detected
