left-column.haml:15 [W] IdNames: `id` attribute must be in lisp-case
left-column.haml:17 [W] IdNames: `id` attribute must be in lisp-case
left-column.haml:21 [W] IdNames: `id` attribute must be in lisp-case
left-column.haml:26 [W] IdNames: `id` attribute must be in lisp-case
left-column.haml:20 [W] LineLength: Line is too long. [159/120]
left-column.haml:24 [W] LineLength: Line is too long. [152/120]
left-column.haml:29 [W] LineLength: Line is too long. [158/120]
left-column.haml:17 [E] RepeatedId: Do not repeat id "#google_afmc" on the page
left-column.haml:21 [E] RepeatedId: Do not repeat id "#google_afmc" on the page
left-column.haml:26 [E] RepeatedId: Do not repeat id "#google_afmc" on the page
left-column.haml:14 [W] RuboCop: Lint/LiteralAsCondition: Literal `true` appeared as a condition.
left-column.haml:18 [W] RuboCop: Style/HashSyntax: Use the new Ruby 1.9 hash syntax.
left-column.haml:18 [W] RuboCop: Style/StringLiterals: Prefer single-quoted strings when you don't need string interpolation or special symbols.
left-column.haml:18 [W] RuboCop: Style/HashSyntax: Use the new Ruby 1.9 hash syntax.
left-column.haml:18 [W] RuboCop: Style/StringLiterals: Prefer single-quoted strings when you don't need string interpolation or special symbols.
left-column.haml:20 [W] RuboCop: Style/StringLiterals: Prefer single-quoted strings when you don't need string interpolation or special symbols.
left-column.haml:20 [W] RuboCop: Style/StringLiterals: Prefer single-quoted strings when you don't need string interpolation or special symbols.
left-column.haml:20 [W] RuboCop: Style/StringLiterals: Prefer single-quoted strings when you don't need string interpolation or special symbols.
left-column.haml:20 [W] RuboCop: Style/StringLiterals: Prefer single-quoted strings when you don't need string interpolation or special symbols.
left-column.haml:20 [W] RuboCop: Style/StringLiterals: Prefer single-quoted strings when you don't need string interpolation or special symbols.
left-column.haml:20 [W] RuboCop: Layout/LineLength: Line is too long. [141/120]
left-column.haml:27 [W] RuboCop: Style/HashSyntax: Use the new Ruby 1.9 hash syntax.
left-column.haml:27 [W] RuboCop: Style/StringLiterals: Prefer single-quoted strings when you don't need string interpolation or special symbols.
left-column.haml:27 [W] RuboCop: Style/HashSyntax: Use the new Ruby 1.9 hash syntax.
left-column.haml:27 [W] RuboCop: Style/StringLiterals: Prefer single-quoted strings when you don't need string interpolation or special symbols.
left-column.haml:29 [W] RuboCop: Style/StringLiterals: Prefer single-quoted strings when you don't need string interpolation or special symbols.
left-column.haml:29 [W] RuboCop: Style/StringLiterals: Prefer single-quoted strings when you don't need string interpolation or special symbols.
left-column.haml:29 [W] RuboCop: Style/StringLiterals: Prefer single-quoted strings when you don't need string interpolation or special symbols.
left-column.haml:29 [W] RuboCop: Style/StringLiterals: Prefer single-quoted strings when you don't need string interpolation or special symbols.
left-column.haml:29 [W] RuboCop: Style/StringLiterals: Prefer single-quoted strings when you don't need string interpolation or special symbols.
left-column.haml:29 [W] RuboCop: Style/StringLiterals: Prefer single-quoted strings when you don't need string interpolation or special symbols.
left-column.haml:29 [W] RuboCop: Layout/LineLength: Line is too long. [138/120]
left-column.haml:29 [W] RuboCop: Style/StringLiterals: Prefer single-quoted strings when you don't need string interpolation or special symbols.

