tip_jar.haml:4 [W] ClassesBeforeIds: Classes should be listed before IDs (.everbutton should precede #everbutton-693-1469672781-59)
tip_jar.haml:5 [W] LineLength: Line is too long. [123/120]
tip_jar.haml:28 [W] LineLength: Line is too long. [321/120]
tip_jar.haml:32 [W] LineLength: Line is too long. [155/120]

