!!! 5
%html{lang: 'en', itemscope: '', itemtype: 'http://schema.org/CollectionPage', class: 'gr__shakespeare-monologues_org'}

	%head
		%title 404 - File Not Found on Shakespeare's Monologues Site - Redirecting back home

		%meta{content: "15;url=https://www.shakespeare-monologues.org", "http-equiv": "REFRESH"}

		%script{type: 'text/javascript'}
			:plain
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-600620-1']);
				_gaq.push(['_trackPageview']);

				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
		/ clickjacking defense from https://www.codemagi.com/blog/post/194
		%style#antiClickjack
			:cdata
				body{display:none !important;}
		%script{type: 'text/javascript'}
			:plain
				if (self === top) {
				  var antiClickjack = document.getElementById("antiClickjack");
				  antiClickjack.parentNode.removeChild(antiClickjack);
				} else {
				  top.location = self.location;
				}
		/ end clickjacking defense

	%body{background: "/images/parchment.jpg", bgcolor: "#F9F9DF"}
		.container

			%p
				= '&nbsp; &nbsp &nbsp; 404 - File Not Found'.html_safe
			%font{face: "verdana", size: "-1"}
				%center
					%h2 Alas, the file is not here to be found
					%h4
						You'll be redirected
						%a{href: "https://shakespeare-monologues.org", target: "_top"} back to the monologues shortly
				%table{align: "center"}
					%tr
						%td
							%font{face: "verdana", size: "-1"}
								Or perhaps you'd settle instead for a list of lines in which Shakespeare used the phrase "not found"?
								%p
								%ul
									%li
										The drug he gave me, which he said was precious
										%br/
										And cordial to me, have I
										%b not found
										it
										%br/
										Murderous to the senses? -
										%i Imogen in Cymbeline Act IV Scene 2
										%br/
										%br/
									%li
										My good lord, have great care
										%br/
										I be
										%b not found
										a talker. -
										%i Henry VIII in Henry VIII Act II Scene 2
										%br/
										%br/
									%li
										If you will take a homely man's advice,
										%br/
										Be
										%b not found
										here; hence, with your little ones. -
										%i Messenger in Macbeth Act IV Scene 2
										%br/
										%br/
									%li
										I cry you mercy, sir; and well could wish
										%br/
										You had
										%b not found
										me here so musical -
										%i Mariana in Measure for Measure ActIV Scene 1
										%br/
										%br/
									%li
										To find persistive constancy in men:
										%br/
										The fineness of which metal is
										%b not found
										%br/
										In fortune's love; -
										%i Agamemnon in Troilus and Cressida Act I Scene 3
										%br/
										%br/
									%li
										and the king shall live without an heir, if that
										%br/
										which is lost be
										%b not found
										%i Officer in Winter's Tale Act III Scene 2
			%center.link-menu-bottom
				%a{href: "/"}
					%b [Home]
				%b
					%a{href: "https://www.shakespeare-monologues.org/men"} [Men's Monologues]
					%a{href: "https://www.shakespeare-monologues.org/women"} [Women's Monologues]
					%a{href: "http://shults.org/shakes/contact.php"} [Contact]
