      %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
      %meta{name: 'flattr:id', content: 'o6x2wd'}
      %meta{property: 'og:type', content: 'website'}
      %meta{property: 'og:url', content: '//www.shakespeare-monologues.org/home/'}
      %meta{property: 'og:title', content: "Shakespeare's Monologues"}
      %meta{property: 'og:description', content: "Making it easier to find monologues since 1997. Built for actors. Used by everyone."}
      %meta{property: 'og:image', content: '//www.shakespeare-monologues.org/img/OGicon.png'}
      %meta{property: 'og:image:width', content: '512'}
      %meta{property: 'og:image:height', content: '303'}
      %meta{property: 'fb:admins', content: '814268031'}
      %meta{name: 'twitter:card', content: 'summary'}
      %meta{name: 'twitter:site', content: '@ShakesMonos'}
      %meta{name: 'twitter:title', content: "Shakespeare's Monologues"}
      %meta{name: 'twitter:description', content: "Each entry includes the full speech, is marked as verse or prose, and has a link to the full text of the scene. Download a PDF of each monologue, double-spaced."}
      %meta{name: 'twitter:image', content: '//www.shakespeare-monologues.org/img/OGicon.png'}
      %meta{name: 'twitter:image:alt', content: 'Portrait of Shakespeare, from the cover of The First Folio of 1623.'}
      %meta{name: 'twitter:card', content: 'app'}
      %meta{name: 'twitter:site', content: '@ShakesMonos'}
    %body
      %h1{title: 'Shakespeare\'s Monologues'}