
    -# Apple Touch Icon
    %link{ href: "/img/icon-120x120.png", rel: "apple-touch-icon", sizes: "120x120" }/
    %link{ href: "/img/icon-114x114.png", rel: "apple-touch-icon", sizes: "114x114" }/
    %link{ href: "/img/icon-76x76.png", rel: "apple-touch-icon", sizes: "76x76" }/
    %link{ href: "/img/icon-72x72.png", rel: "apple-touch-icon", sizes: "72x72" }/

    -# for the landscape tip
    %link{ href: "/img/landscape-icon-196x157.png", rel: "apple-touched-icon", sizes: "152x152" }/
    %link{ href: "/img/landscape-icon-196x157.png", rel: "landscape icon", sizes: "152x152" }/

    -# iPhone Splash Screen
    %link{ href: "/img/apple-touch-startup-image-320x460.png", media: "(device-width: 320px)", rel: "apple-touch-startup-image" }/

    -# iPhone (Retina) Splash Screen
    %link{ href: "/img/apple-touch-startup-image-640x920.png", media: "(device-width: 320px) and (-webkit-device-pixel-ratio: 2)", rel: "apple-touch-startup-image" }/

    -# iPhone (5) Splash Screen
    %link{ href: "/img/Default-568h@2x.png", media: "(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)", rel: "apple-touch-startup-image", sizes: "640x1096" }/

    -# iPad (portrait) Splash Screen
    %link{ href: "/img/apple-touch-startup-image-768x1004.png", media: "(device-width: 768px) and (orientation: portrait)", rel: "apple-touch-startup-image" }/

    -# iPad (landscape) Splash Screen
    %link{ href: "/img/apple-touch-startup-image-1024x1024.png", media: "(device-width: 768px) and (orientation: landscape)", rel: "apple-touch-startup-image" }/

    -# iPad (Retina, portrait) Splash Screen
    %link{ href: "/img/apple-touch-startup-image-1536x2008.png", media: "(device-width: 1536px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)", rel: "apple-touch-startup-image" }/

    -# iPad (Retina, landscape) Splash Screen
    %link{ href: "/img/apple-touch-startup-image-2048x1496.png", media: "(device-width: 1536px)  and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)", rel: "apple-touch-startup-image" }/
    %link{ href: "/img/icon-152x152.png", rel: "apple-touch-icon-precomposed" }/