.center-column-header
  %h3= @title

.center-column-list

  -# @monologues is visible to the partial, so we don't need to pass it along

  = partial('monologues/list', locals: { show_play_title: false, play_name: @play&.name })

  :javascript
    #{ js_set_global_params }
    updateDom();


