%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:plays, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:plays, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:plays, :edit, :id => @play.id)

.tabs-content
  = form_for :play, url(:plays, :update, :id => @play.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'plays/form', :locals => { :f => f }
