%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:plays, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:plays, :new)

.tabs-content
  = form_for :play, url(:plays, :create), :class => 'form-horizontal' do |f|
    =partial 'plays/form', :locals => { :f => f }
