.jquery-search-replace
	/ Contents of this div replaced by key up triggered jquery ajax call

	.monologue-controls
		%span.icon-font.accent-font {
		- if @play
			%span.play-control
				&nbsp;
				%a.remove-play.icon-font.accent-font{href: '#', title: 'Remove play filter'} × 
				%span.monologue-label=@play.title
				%span.huge-font.accent-font
					|
		%span.gender-control
			%a.filter-gender.monologue-label{href: '#', data_action: 'w'} Women
			%span.huge-font.accent-font /
			%a.filter-gender.monologue-label{href: '#', data_action: 'm'} Men
			%span.huge-font.accent-font /
			%a.filter-gender.monologue-label{href: '#', data_action: 'a'} All
		%span.icon-font.accent-font }

		/ TODO Remove if not needed
		- if Padrino.env == :development
			%span.debug-text
				=@result_summary

	.monologue-result-info.accent-font
		.toggle-control
			%a.toggle-mono.mono-expand.display-hide{href: '#', data_action: 'expand'} Expand All
			%a.toggle-mono.mono-collapse.display-hide{href: '#', data_action: 'collapse'} Collapse All


	- if @monologues.empty?
		.empty-table-message
			Alas, we didn't find a monologue containing exactly what you typed.
	- else

		%table.monologue-list
			%thead.accent-font
				%tr
					%th.header Character
					%th.header First Line
					%th.header Act/Scene
					%th.header PDF

			%tbody
				- @monologues.each_with_index do |monologue, index|

					%tr{class: (index.even? ? 'even' : 'odd')}
						%td
							.monologue-character=monologue.character
							.monologue-detail
								=monologue.style + monologue.intercut_label
								.monologue-playname
									=gendered_play_link(monologue.play)

						%td.monologue-firstline-table
							=link_to(monologue.first_line, url(:monologues, :show, id: monologue.id), remote: true)
							- if defined?(toggle) && (toggle == 'expand')
								.monologue-body-inline
									!=monologue.body
							- else
								.monologue-body-inline.display-hide

						%td.monologue-actscene
							%a.location{href: monologue.body_link} 
								=monologue.location
						%td
							%a{href: monologue.pdf_link, target: '_blank'}
								%img{src: '/images/pdf_file_icon_16x16.png'}

	:javascript
		#{js_set_global_params}
		registerControls();
