.jquery-search-replace
	/ Contents of this div replaced by key up triggered jquery ajax call

	/ TODO Consider removing
	- if Padrino.env == :development
		%span.debug-text
			!=@debug_output
			%button.remove-debug.pull-right remove
			:javascript
				$("button.remove-debug").click(function(){
				    $("span.debug-text").remove();
				});
	.monologue-controls
		&nbsp;
		- if @play
			%span.play-control.accent-font
				&nbsp;
				%a.remove-play{href: '#', title: 'Remove play filter'}
					%span.huge-font ×
				%span.filter-play=@play.title
			%span.huge-font &#124;
		%span.gender-control.accent-font
			%a.filter-gender{href: '#', data_action: 'w'} Women
			%span.huge-font &#124;
			%a.filter-gender{href: '#', data_action: 'm'} Men
			%span.huge-font &#124;
			%a.filter-gender{href: '#', data_action: 'a'} All

		%span.huge-font
			&#124;

		%span.toggle-control.big-font.accent-font
			%a.toggle-mono.mono-expand.display-hide{href: '#', data_action: 'expand'}
				%img{alt: 'expand text', title: 'expand text', src: '/img/ExpandAll.png'}
			%a.toggle-mono.mono-collapse.display-hide{href: '#', data_action: 'collapse'}
				%img{alt: 'collapse text', title: 'collapse text', src: '/img/CollapseAll.png'}/

	- if @monologues.empty?
		.empty-table-message.accent-font
			Alas, we didn't find a monologue containing exactly what you typed.
	- else

		%table.monologue-list
			%thead.accent-font
				%tr
					%th.header Character
					%th.header First Line
					%th.header Act/Scene
					%th.header PDF

			%tbody
				- @monologues.each_with_index do |monologue, index|

					%tr{class: (index.even? ? 'even' : 'odd')}
						%td
							.monologue-character=monologue.character
							.monologue-detail
								=monologue.style + monologue.intercut_label
								.monologue-playname
									=gendered_play_link(monologue.play)

						%td.monologue-firstline-table
							=link_to(monologue.first_line, url(:monologues, :show, id: monologue.id))
							- if defined?(toggle) && (toggle == 'expand')
								.monologue-body-inline
									!=monologue.body
							- else
								.monologue-body-inline.display-hide

						%td.monologue-actscene
							%a.location{href: monologue.body_link}
								=monologue.location
						%td
							%a{href: monologue.pdf_link, target: '_blank'}
								%img{src: '/images/pdf_file_icon_16x16.png'}

	:javascript
		#{js_set_global_params}
		registerControls();
