.jquery-search-replace
	/ Contents of this div replaced by key up triggered jquery ajax call

	.result-summary
		=@result_summary


	- if @monologues.empty?
		.empty-table-message
			Alas, we didn't find a monologue containing exactly what you typed.
	- else

		%table.monologue-list
			%thead
				%tr
					%th.header Character
					%th.header First Line
					%th.header Act/Scene
					%th.header PDF

			%tbody
				- @monologues.each_with_index do |monologue, index|

					%tr{class: (index.even? ? 'even' : 'odd')}
						%td
							.monologue-character=monologue.character
							.monologue-detail
								=monologue.style + monologue.intercut_label
								.monologue-playname
									=gendered_play_link(monologue.play)

						%td.monologue-firstline-table
							=link_to(monologue.first_line, url(:monologues, :show, id: monologue.id), remote: true)
							- if defined?(toggle) && (toggle == 'expand')
								.monologue-body-inline
									!=monologue.body
							- else
								.monologue-body-inline.display-hide

						%td.monologue-actscene
							%a.location{href: monologue.body_link} 
								=monologue.location
						%td
							%a{href: monologue.pdf_link, target: '_blank'}
								%img{src: '/images/pdf_file_icon_16x16.png'}

		:javascript
			#{js_set_global_params}
			updateDom();
			$(".monologue-controls").show();
			registerGenderClick();
			registerToggleClick();
			registerMonologueClick();
