.center-column-header
	-# %h3= @title
	%form#search-form.navbar-form{role: ""}
		.input-group
			%input#search-box.form-control{:placeholder => "Search #{@scope} Monologues", :type => "text", autocomplete: "off", action: "#"}
			%i.glyphicon.glyphicon-refresh.glyphicon-refresh-animate.searching

.center-column-list

	=partial('monologues/list', locals: {show_play_title: true})
