.center-column-header
	-# %h3= @title
	%form#search-form.navbar-form{role: ""}
		.input-group
			%input#search-box.form-control{:placeholder => "Search Shakespeare's Monologues", :type => "text", autocomplete: "off", action: "#"}

.center-column-list

	- # @monologues is visible to the partial, so we don't need to pass it along

	=partial('monologues/list', locals: {show_play_title: true})


	%script{type: 'text/javascript'}
		:plain
			$( "#search-box" ).focus();
			$( "#search-box" ).click(function( event ) {
				event.preventDefault();
				return false;
			});
			$('#search-box').keyup(function(){
				var query = $('#search-box').val();
				$.ajax({
					url: "/search/" + query + "/" + window.globalViewGender,
					cache: false
				})
				.done(function( html ) {
					$( ".jquery-search-replace" ).replaceWith( html );
				});
			});
