.site-wrapper
	.site-wrapper-inner
		.cover-container
			.masthead.clearfix
				.inner
					%h3.masthead-brand 
						%a{:href => "http://www.shakespeare-monologues.org/"} Shakespeare's Monologues
					%nav
						%ul.nav.masthead-nav
							%li
								%a{:href => "http://www.shakespeare-monologues.org/women/"} The Women
							%li
								%a{:href => "http://www.shakespeare-monologues.org/men/"} The Men
			.inner.cover
				%h1.cover-heading 
				%p.lead Making it easier to find monologues since 1997
				%form.navbar-form{:role => "search"}
					.input-group
						%input#srch-term.form-control{:name => "srch-term", :placeholder => "Search", :type => "text"}
							.input-group-btn
								%button.btn.btn-default{:type => "submit"}
									%i.glyphicon.glyphicon-search
			.mastfoot
				.inner
					%p
						This site is licensed under a Creative Commons License.
						The texts of Shakespeare's plays is public domain.
						Contact linked sites regarding intellectual property rights of those sites..